footer{
    background: var(--Footer);
    padding: 5px;
    color: var(--blanco);
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
footer h3{
    margin: 10px 0;
}
footer p{
    margin: 5px 0;
}
footer p:hover{
    color: var(--btnRojo);
    cursor: pointer;
}