*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fondoRojo: #C01B1B;
    --blanco:white;
    --btnRojo: #df4040;
    --btnRojoC:#C01B1B;
    --inputColor:rgb(255, 255, 255);
    --bordesA:rgb(41, 41, 41);
    --transparente:rgba(0, 0, 0, 0.6);
    --rojoTransparente:rgba(192, 27, 27, 0.9);
    --fondo: #f3f3f3;
    --fondoBtn: #e2e2e2;
    --letra:rgb(36, 36, 36);
    --btnComprar:#3eda00;
    --hoverComprar:#22c51f;
    --Footer: #292929;
    
}
body{
    background: var(--fondo);
    padding-top: 80px;
    width: 100%;
}
#root{
    width: 100%;
}
@media (max-width:820px) {
    body{
        padding-top: 140px;
    }
}